<?xml version="1.0"?>
<launch>
  <arg name="rviz"      default="true"/>
  <arg name="scan_name" default="/scan"/>
  <arg name="odom_topic" default="/odometry/filtered"/>

  <include file="$(find turtlebot2i_bringup)/launch/minimal.launch"/>
  <include file="$(find turtlebot2i_bringup)/launch/arms/phantomx_pincher_arm.launch"/>

  <!-- EKF -->
  <rosparam file="$(find turtlebot2i_bringup)/param/turtlebot2i_ekf.yaml" command="load"/>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_filter_node" output="screen"/>

  <!-- IMU -->
  <node pkg="work_arduino_sensors" type="imu_finger_node.py" name="imu_finger_node" output="screen">
  </node>

  <include file="$(find turtlebot2i_bringup)/launch/gmapping.launch">
    <arg name="scan_name" value="$(arg scan_name)"/>
  </include>

  <include file="$(find turtlebot2i_bringup)/launch/URG.launch"/>

  <include if="$(arg rviz)" file="$(find turtlebot2i_bringup)/launch/rviz.launch"/>
</launch>