<?xml version="1.0"?>
<launch>

  <arg name="new_rtabmap" default="false"/>
  <arg name="database_path" default="rtabmap.db"/>
  <arg name="localization" default="false"/>
  <arg name="rviz" default="false"/>
  <arg name="rtabmapviz" default="false"/>

  <include file="$(find turtlebot2i_bringup)/launch/minimal.launch"/>

  <!--<include file="$(find turtlebot2i_bringup)/launch/arms/phantomx_pincher_arm.launch"/>-->

  <!--<include file="$(find turtlebot2i_arm_director)/launch/named_pose_director.launch">
    <arg name="load_moveit" value="true"/>
  </include>-->

  <!-- EKF filter for odometry -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_filter_node" output="screen">
    <rosparam file="$(find turtlebot2i_bringup)/param/turtlebot2i_ekf.yaml" command="load" />
    <remap from="odometry/filtered" to="odom"/>
  </node>

  <include file="$(find turtlebot2i_bringup)/launch/gmapping.launch"/>

  <include file="$(find turtlebot2i_bringup)/launch/URG.launch"/>

  <include if="$(arg rviz)" file="$(find turtlebot2i_bringup)/launch/rviz.launch"/>

</launch>
